discord.py
python-dotenv
async-timeout

aiohttp
attrs
certifi
chardet
colour
cson
cupshelpers
distro
distro-info
httplib2
idna
louis
Mako
MarkupSafe
multidict
numpy
olefile
opencv-python
pexpect
Pillow
progressbar
pycairo
pycups
pycurl
pydub
PyGObject
PySimpleSOAP
pysmbc
python-apt
python-debian
python-debianbts
pyxdg
reportbug
reportlab
requests
scipy
six
speg
tqdm
unattended-upgrades
urllib3
websockets
yarl
